body {
  background-color: #008080;
  color:#FFF;
  font-family: Arial;
  font-weight: 100;
  font-size: 12px;
}

a {
  color: #FFF;
}

.taskbar {
    padding: 2px;
    box-shadow: inset 2px 0 #fff;
    display: block;
    background-color: silver;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 2px solid #f4f4f4;
    border-bottom: 1px solid #4e4e4e;
    position: fixed;
    z-index: 99999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.start-button {
    background-image: url(https://win98icons.alexmeub.com/images/start-button.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 14px;
    float: left;
    margin-left: 2px;
    margin-bottom: 2px;
    vertical-align: middle;
    display: inline-block;
    padding: 2px 10px 4px;
    background-color: silver;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    box-shadow: inset 1px 1px #dfdfdf, 0px 0 #000, 1px 1px #000, 0px 0px #000;
    margin-right: 22px;
    color: #000;
}

.system-icons {
    float: right;
    text-align: right;
    padding: 0 10px;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    vertical-align: middle;
    height: 22px;
    line-height: 22px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    font-family: Arial;
    font-weight: 100;
    color: #000;
}

.sound {
 margin-right: 6px;
    margin-top: 3px;
}
  
